.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 13px;
  max-width: 900px;
  margin: auto;
}

.image-box img {
  width: 300px;
  height: 300px;
  object-fit: cover;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease;
  border: 1px solid rgba(98, 115, 190, 0.534);
}

.image-box:hover img {
  transform: scale(1.03);
}
